<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../css/halfmoon.min.css">
    <link rel="stylesheet" href="../css/halfmoon-variables.min.css">
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>

    <div class="page-wrapper key-page">

        <div class="container">

            <div class="navbar justify-content-center">
                <h1 class="">PGP Utilities</h1>
                <div class="bullet red"></div>
                <h2>Encrypt</h2>
            </div>

            <div class="row">

                <div class="col m-10">
                    <button class="footer-button link" data-fp="index">Back</button>
                </div>

            </div>

        </div>

    </div>

    <!-- You can also require other files to run in this process -->
    <script src="../controllers/utils.js"></script>
</body>
</html>
