<!DOCTYPE html>
<html lang="en">
<head>
    <title>PGP Utilities</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../css/halfmoon.min.css">
    <link rel="stylesheet" href="../css/halfmoon-variables.min.css">
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>

    <div class="page-wrapper index-page">
        <div class="container">

            <div class="navbar">
                <h1 class="m-auto">PGP Utilities</h1>
            </div>

            <div class="row">

                <div class="col">
                    <ul class="w-fit index-list">
                        <li class="link" data-fp="key">View keys</li>
                        <li class="link" data-fp="create">Create key</li>
                        <li class="link" data-fp="decrypt">Decrypt</li>
                        <li class="link" data-fp="encrypt">Encrypt</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- javascript files -->
    <script src="../controllers/utils.js"></script>
</body>
</html>
